.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .portfolio-item-wrapper {
        position: relative;

        .portfolio-img-background {
            background-position: center;
            background-repeat: no-repeat;
            height: 350px;
            width: 100%;
            background-size: 50%;
        }

        .image-text-wrapper {
            position: absolute;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            text-align: center;
            width: 100%;
        }

        .subtitle {
            transition: .5s ease-in-out;
            color: transparent;
        }
        
        .image-text-wrapper:hover .subtitle {
            color: $teal;
            font-weight: 400;
        }

        .logo-wrapper img {
            width: 200%;

        }
    }
}

.portfolio-item-wrapper {
    text-align: center;
}

.image-blur {
    transition: .5s;
    filter: brightness(70%);
}